/* Nav and Footer CSS */

nav {
    text-align: right;
    background-image: linear-gradient(90deg, #EC3963, #BB67A3, #46A9D3);
    color: white;
    font-family: Kanit;
}

footer {
    background-image: linear-gradient(90deg, #EC3963, #BB67A3, #46A9D3);
    color: white;
    font-family: Kanit;
    text-align: center;
    width: 100%;
}

.nav-link, .navbar-brand {
    color: white;
    text-shadow: 1px 1px 2px black;

}


  #logo{
    background-color: transparent;
    border-color: transparent;
    background-image: url("img/webdesignlogo.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: 40px;
    background-position: center,center;
    background-repeat: no-repeat;
    color: white;
}
.navbar-brand{
    color: white;
}
.nav-link:link{
    opacity: 1;
   }
.nav-link:visited{
    opacity: 1;
   }
.nav-link:hover{
 color: #EC3963;
}
.nav-link:active{
    opacity: 1;
   }

   /* hamburger icon */
   .navbar-toggler {
       width: 20px;
       height: 20px;
       position: relative;
       transition: .5s ease-in-out;
   }

   .navbar-toggler,
   .navbar-toggler:focus,
   .navbar-toggler:active,
   .navbar-toggler-icon:focus {
       outline: none;
       box-shadow: none;
       border: 0;
       position: relative;
   }

   .navbar-toggler span {
       margin: 0;
       padding: 0;
   }

   .toggler-icon {
       display: block;
       position: absolute;
       height: 3px;
       width: 100%;
       background: whitesmoke;
       border-radius: 30px;
       opacity: 1;
       left: 0;
       transform: rotate(0deg);
       transition: .25s ease-in-out;
   }

   .middle-bar {
       margin-top: 0px;
   }


   /* State when the navbar is collapsed */

 .navbar-toggler .top-bar {
     top: 0px;
     transform: rotate(0deg);
 }

 .navbar-toggler .middle-bar {
     opacity: 1;
     top: 10px;
     filter: alpha(opacity=100);
 }

 .navbar-toggler .bottom-bar {
     top: 20px;
     transform: rotate(0deg);
 }

 /* When navigation is clicked: Transform into 'X' */
 .navbar-toggler:not(.collapsed) .top-bar {
     top: 10px;
     transform: rotate(135deg);
 }

 .navbar-toggler:not(.collapsed) .middle-bar {
     opacity: 0;
 }

 .navbar-toggler:not(.collapsed) .bottom-bar {
     top: 10px;
     transform: rotate(-135deg);
 }

 .navbar-toggler.collapsed .bottom-bar {
    top: 16px;
 }

 .navbar-toggler.collapsed .middle-bar {
     top: 8px;
 }
   /* hamburger icon end */

   /* navbar end */

/* End of Nav and Footer CSS */