body {
    overflow-x: hidden;
}

nav {
    text-align: right;
    background-image: linear-gradient(90deg, #EC3963, #BB67A3, #46A9D3);
    color: white;
    font-family: Kanit;
}

footer {
    background-image: linear-gradient(90deg, #EC3963, #BB67A3, #46A9D3);
    color: white;
    font-family: Kanit;
    text-align: center;
    width: 100%;
}

.nav-link, .navbar-brand {
    color: white;
    text-shadow: 1px 1px 2px black;

}


.imgfix {
    min-width: 10px;
    height: 125px;
  }

  #logo{
    background-color: transparent;
    border-color: transparent;
    background-image: url("img/webdesignlogo.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: 40px;
    background-position: center,center;
    background-repeat: no-repeat;
    color: white;
}
.navbar-brand{
    color: white;
}
.nav-link:link{
    opacity: 1;
   }
.nav-link:visited{
    opacity: 1;
   }
.nav-link:hover{
 opacity: .4;
}
.nav-link:active{
    opacity: 1;
   }
   /*web circles*/
.webCircle{
    border-color: #ffffff;
    color: White;
    border-radius: 50%;
    border-width: 0px;
    margin-top: 10%;
    font-family: Kanit;
    text-align: center;
    text-align: center;
    box-shadow: 7px 1px 2px  rgb(75, 75, 75);
    margin-top: 0%;
    width: 10rem; /* Adjust as needed */
    height: 10rem;
}
.w1{
    background-color: #EC3963;
}
.w2{
    background-color: #BB67A3;
}
.w3{
    background-color: #46A9D3;
}
.webCircle:hover{
    border-color: #ffffff;
    color: White;
    border-radius: 50%;
    border-width: 0px;
    margin-top: 10%;
    font-family: Kanit;
    text-align: center;
    text-align: center;
    box-shadow: 7px 7px 2px  rgb(75, 75, 75);
    opacity: 0.5;
    margin-top: 0%;

}
.center{
    text-align: center;
    justify-content: center;
    vertical-align: center;
}
  /*web circles END*/


.actlvid {
    border: 5px solid #EC3963;
    min-height: 500px;
    justify-content: center;
}

.courseDescription{
    text-align: center;
    background-color: #BB67A3;
    padding: 2rem;
    width:573px ;
    height: 224px;
margin: 2rem;
box-shadow: 7px 7px 2px  rgb(75, 75, 75);
}
.description{
    font-size:1.5rem;
color: #ffffff;
font-family: Kanit;
}